
  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    width: 100%;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .parallax__layer--fore {

    width: 100%;
  }

  .parallax__layer--base {

    width: 100%;
  }

  .parallax__layer--back {
    width: 100%;
  }

  .parallax__layer--deep {


    width: 100%;
  }


  .parallax__group {
    width: 100%;
  }


  /* demo styles
  --------------------------------------------- */

  body, html {
    overflow: hidden;
  }

  body {
    font: 100% / 1.5 Arial;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }

   /* centre the content in the parallax layers */
  .title {

    position: absolute;
    top: 20%;

    text-align: center;
    background: rgba(230,230,230,0.65);
	  color: black;

	  font-weight: 600;
    padding: .5em;
    width: 100%;
    white-space: nowrap;
	  border-style: solid;
    border-width: 2px;
    border-color: black;

	}

  .subtitle {
    font-size: 50%;
  }

  .subtitle2 {
    font-size: 75%;
  }
  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
  }

  #group1 .parallax__layer--base {
  
    background: url("nerd.jpg");
  	background-repeat: no-repeat;
  	background-size: auto 100%;
    background-position: center; 
  	background-color: rgba(50,50,255,1);

     background-image: 
     -webkit-linear-gradient(top, 
      rgba(50,50,255,1) 0%, 
      rgba(50,50,255,0) 20%,
      rgba(50,50,255,0) 80%,
      rgba(50,50,255,1) 100%),
    url(nerd.jpg);
     background-image: 
     -moz-linear-gradient(top, 
      rgba(50,50,255,1) 0%, 
      rgba(50,50,255,0) 20%,
      rgba(50,50,255,0) 80%,
      rgba(50,50,255,1) 100%),
    url(nerd.jpg);

  	border-style: solid;
    border-width: 2px;
    border-color: black;
  }

 #rcorners1 {
    border-radius: 75px;
    vertical-align: middle;
		
  	border-style: solid;
    border-width: 1px;
    border-color: black;
  }


  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--back {

    background-color: rgba(50,50,255,1);
    background: url("psw.jpg");
  	background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center; 

     background-image: 
     -webkit-linear-gradient(left, 
      rgba(150,50,255,1) 0%, 
      rgba(150,50,255,0) 20%,
      rgba(150,50,255,0) 80%,
      rgba(150,50,255,1) 100%),
     url(psw.jpg),
     -webkit-linear-gradient(left, 
      rgba(150,250,255,1) 0%, 
      rgba(150,50,255,1) 20%,
      rgba(150,50,255,1) 80%,
      rgba(150,250,255,1) 100%)
    ;

     background-image: 
     -moz-linear-gradient(left, 
      rgba(150,50,255,1) 0%, 
      rgba(150,50,255,0) 20%,
      rgba(150,50,255,0) 80%,
      rgba(150,50,255,1) 100%),
     url(psw.jpg),
     -moz-linear-gradient(left, 
      rgba(150,250,255,1) 0%, 
      rgba(150,50,255,1) 20%,
      rgba(150,50,255,1) 80%,
      rgba(150,250,255,1) 100%)
    ;

  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #group3 .parallax__layer--base {
  
  
    background: url("notepadpp2.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center; 
    background-color: rgba(250,250,250,1);

     background-image: 
     -webkit-linear-gradient(top, 
      rgba(100,100,100,1) 0%, 
      rgba(100,100,100,0) 20%,
      rgba(100,100,100,0) 80%,
      rgba(100,100,100,1) 100%),
    url(notepadpp2.jpg);
     background-image: 
     -moz-linear-gradient(top, 
      rgba(100,100,100,1) 0%, 
      rgba(100,100,100,0) 20%,
      rgba(100,100,100,0) 80%,
      rgba(100,100,100,1) 100%),
    url(notepadpp2.jpg);

    border-style: solid;
    border-width: 2px;
    border-color: black;
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #group4 .parallax__layer--deep {

    background-color: rgba(50,50,255,1);
    background: url("sunrise2.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center; 

     background-image: 
     -webkit-linear-gradient(left, 
      rgba(255,150,50,1) 0%, 
      rgba(255,150,50,0) 20%,
      rgba(255,150,50,0) 80%,
      rgba(255,150,50,1) 100%),
     url(sunrise2.jpg),
     -webkit-linear-gradient(left, 
      rgba(255,255,50,1) 0%,
      rgba(255,255,50,1) 20%, 
      rgba(250,250,55,1) 80%,
      rgba(255,255,55,1) 100%)
    ;

     background-image: 
     -moz-linear-gradient(left, 
      rgba(255,150,50,1) 0%, 
      rgba(255,150,50,0) 20%,
      rgba(255,150,50,0) 80%,
      rgba(255,150,50,1) 100%),
     url(sunrise2.jpg),
     -moz-linear-gradient(left, 
      rgba(255,255,50,1) 0%,
      rgba(255,255,50,1) 20%, 
      rgba(250,250,55,1) 80%,
      rgba(255,255,55,1) 100%)
    ;
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */

    background: url("avid.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center; 
    background-color: rgba(200,100,250,1);

     background-image: 
     -webkit-linear-gradient(top, 
      rgba(133,65,135,1) 0%, 
      rgba(133,65,135,0) 20%,
      rgba(133,65,135,0) 80%,
      rgba(133,65,135,1) 100%),
    url(avid.jpg);
     background-image: 
     -moz-linear-gradient(top, 
      rgba(133,65,135,1) 0%, 
      rgba(133,65,135,0) 20%,
      rgba(133,65,135,0) 80%,
      rgba(133,65,135,1) 100%),
    url(avid.jpg);

    border-style: solid;
    border-width: 2px;
    border-color: black;
  }
  #group5 .parallax__layer--base {
  
  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group6 .parallax__layer--back {
  
    background: url("banner2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
    border-style: solid;
    border-width: 0px;
    border-color: white;
    background-color: white;
    box-shadow: 0 0 20px 20px white;
  }
  #group7 .parallax__layer--base {
    

  }

  #menu {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    position: fixed;
    z-index: 999;
    overflow: hidden;

  	border-style: solid;
    border-width: 5px;
    width: 5em;
    box-shadow: 0 0 20px rgba(0,0,0,1);
    font-size: 85%;
}


  .fade {
    height: 3.5em;
    -webkit-transition: height 0.2s, width 0.05s, background 0.2s, color 0.2s, border-color 0.2s; /* Safari 3.1 to 6.0 */
    transition: height 0.2s, width 0.05s, background 0.2s, color 0.2s, border-color 0.2s;

    background: rgba(255,255,255,0.25);
    color: rgb(255,255,255);
    border-color: rgba(255,255,255,1);
   }

 .fade:hover {
    height: 100%;
    color: rgb(1,1,1);
    background: rgba(255,255,255,0.8);
    border-color: black;
  }