
body {
	font-family: Arial, Times, serif;
	color: black;
}

.homeLink:link {
    color: black;
    text-decoration: none;
}
.homeLink:visited {
    color: black;
}
.homeLink:hover {
    color: black;
}
.homeLink:active {
    color: black;
}

.bgibbons {
    font-size: 1.75em;
    text-align: center;
}

.labels {
    font-size: 0.75em;
    text-align: center;
}

.blackLink:link {
    text-decoration: none;
    color: rgb(20, 20, 20);
}
.blackLink:visited {
    text-decoration: none;
    color: rgb(20, 20, 20);
}
.blackLink:hover {
    text-decoration: none;
    color: rgb(60, 60, 60);
}
.blackLink:active {
    text-decoration: none;
    color: rgb(20, 20, 20);
}


.socialIcons {
    position: relative;
    left: 0;
    right: 0;
    background-color: black;
    text-align: center;
    color: #666666;
}

.container {
    position: relative;
    left: 0;
    right: 0;
}

.socialIcon {
    margin: 0.8em;
}

.socialIcon2 {
    margin: 0.8em;
    border-radius: 50%;
}

.face {
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    left: 35%;
    top: -15%;
    width: 30%;
    text-align: center;
}

.homeLinkBox {
    font-size: 1.4em;
    border-bottom: solid 1px #777777;
    padding: 0.75em;
}

.homeLinkBox:hover {
    font-size: 1.4em;
    border-bottom: solid 1px #777777;
    padding: 0.75em;
    background-color: #eeeeee;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 4em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.1s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0s;
  animation-name: fade;
  animation-duration: 0s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}